
body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3em;
    color: rgb(252, 9, 9);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;
    color: rgb(67, 248, 7);
    font-size: 5em;
}
body {
    background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
}
body.rainy {
    background-image: linear-gradient(to right top, #637c7b, #718e8c, #7ea09e, #8db2b0, #9bc5c3);
}
